{{ define "main" }}
<div class="apps-list">
  {{ range .Pages }}
  <div class="apps-app-item">
    <div class="apps-app-icon">
      {{ $title := .Params.title }}
      {{ $itemUrl := .Permalink }}
      {{ $imageUrl := .Params.img | default (print "/img/no-image.svg" | absURL) }}
      <a href="{{- $itemUrl -}}">
        <img src="{{- $imageUrl -}}" />
      </a>
    </div>
    <div class="apps-app-name">
      <a href="{{- $itemUrl -}}">
        <h6>{{- $title -}}</h6>
      </a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}